{% extends "base.html" %}

{% block content %}
<section id="articles">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>{{ section.title }}</h2>
      </div>
    </div>
    <hr class="separator-dark">
    <div class="row">
    {% for post in paginator.pages %}
    {% set row_index = loop.index % section.extra.items_per_row %}
      <article class="col">
        <div class="post-meta">
          <div class="post-thumbnail">
            <a href="{{ post.permalink }}">
              <img src="{{ get_url(path=post.path ~ post.extra.thumbnail) }}" alt="{{ post.title }}">
            </a>
          </div>
          <h4 class="mt-2">{{ post.title }}</h4>
        </div>
        {% if post.summary %}
        <div class="post-content">
          {{ post.summary | safe }}
        </div>
        <a href="{{ post.permalink }}">Lire la suite</a>
        {% else %}
        <div class="post-content">
          {{ post.content | safe }}
        </div>
        {% endif %}
      </article>
    {% if row_index == 0 %}
    </div>
    <div class="row">
    {% endif %}
    {% endfor %}
    </div>
  </div>
</section>

<nav class="pagination">
  <div class="container">
    <div class="row">
      <div class="col">
        {% if paginator.previous %}
        <span class="pagination-item older">
          <a href="{{ paginator.previous }}">← {{ trans(key="previous_page") }}</a>
        </span>
        {% else %}
        <span class="pagination-item older">← {{ trans(key="previous_page") }}</span>
        {% endif %}
      </div>

      <div class="col">
        {% if paginator.next %}
        <span class="pagination-item newer">
          <a href="{{ paginator.next }}">{{ trans(key="next_page") }} →</a>
        </span>
        {% else %}
        <span class="pagination-item newer">{{ trans(key="next_page") }} →</span>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
{% endblock content %}
